<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>新規登録｜Twitterもどき</title>

    <script src="@routes.Assets.versioned("javascripts/jquery-1.11.3.min.js")" type="text/javascript"></script>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("bootstrap-3.3.6-dist/css/bootstrap.min.css")">
    <script src="@routes.Assets.versioned("bootstrap-3.3.6-dist/js/bootstrap.min.js")" type="text/javascript"></script>

    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
</head>
<body class="top">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/top">偽Twitter</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="col-md-7">
            <h1>新規登録</h1>
            <form action="@routes.RegistrationController.registration" method="POST" id="login-form">
                <input type="text" name="userId" class="form-control" placeholder="IDいれてね" />
                <input type="password" name="password" class="form-control" placeholder="passwordいれてね" />
                <input type="submit" class="btn btn-primary" value="登録" />
            </form>
        </div>
    </div>
</body>
</html>